In [1]:
import matplotlib.pyplot as plt
import geopandas as gpd
import pandas as pd
import shapely as shy
from shapely.ops import nearest_points
from shapely.geometry import Point, MultiPoint
import fiona
from scipy.spatial import cKDTree
import numpy as np

pd.options.display.max_rows = 4
%matplotlib inline
import os
os.environ["PROJ_LIB"] = "C:\ProgramData\Anaconda3\Library\share" #window

In [2]:
cd

C:\Users\jerem

In [22]:
fp = r"Box Sync\Policy Evaluation\working_data\analytical_file_panel.dta"
df = pd.read_stata(fp)

In [23]:
df.head(2)

,intersection_id,month,year,monthly,index,ST1_Name,ST2_Name,ST3_Name,ST4_Name,distance_to_LPIS,...,day_cyclistinjured,day_cyclistkilled,day_motoristinjured,day_motoristkilled,flag_collision,latenight_flag_collision,day_flag_collision,coordinate1,coordinate2,coordinate3
0,1,7,2012,2012-07-01,1,AVENUE OF THE AMERICAS,LAIGHT STREET,CANAL STREET,None,592,...,0,0,0,0,0.0,0.0,0.0,POINT,982769.331,202206.1619
1,1,8,2012,2012-08-01,1,AVENUE OF THE AMERICAS,LAIGHT STREET,CANAL STREET,None,592,...,0,0,0,0,0.0,0.0,0.0,POINT,982769.331,202206.1619

In [24]:
df.columns

Index(['intersection_id', 'month', 'year', 'monthly', 'index', 'ST1_Name',
       'ST2_Name', 'ST3_Name', 'ST4_Name', 'distance_to_LPIS',
       ...
       'day_cyclistinjured', 'day_cyclistkilled', 'day_motoristinjured',
       'day_motoristkilled', 'flag_collision', 'latenight_flag_collision',
       'day_flag_collision', 'coordinate1', 'coordinate2', 'coordinate3'],
      dtype='object', length=143)

In [25]:
# Put the latitude and longtitude 
df['geometry'] = list(zip(df.coordinate2, df.coordinate3))
df.head(2)

,intersection_id,month,year,monthly,index,ST1_Name,ST2_Name,ST3_Name,ST4_Name,distance_to_LPIS,...,day_cyclistkilled,day_motoristinjured,day_motoristkilled,flag_collision,latenight_flag_collision,day_flag_collision,coordinate1,coordinate2,coordinate3,geometry
0,1,7,2012,2012-07-01,1,AVENUE OF THE AMERICAS,LAIGHT STREET,CANAL STREET,None,592,...,0,0,0,0.0,0.0,0.0,POINT,982769.331,202206.1619,"(982769.3310000002, 202206.1618999988)"
1,1,8,2012,2012-08-01,1,AVENUE OF THE AMERICAS,LAIGHT STREET,CANAL STREET,None,592,...,0,0,0,0.0,0.0,0.0,POINT,982769.331,202206.1619,"(982769.3310000002, 202206.1618999988)"

In [26]:
df['geometry'] = df['geometry'].apply(Point)
df.head(2)

,intersection_id,month,year,monthly,index,ST1_Name,ST2_Name,ST3_Name,ST4_Name,distance_to_LPIS,...,day_cyclistkilled,day_motoristinjured,day_motoristkilled,flag_collision,latenight_flag_collision,day_flag_collision,coordinate1,coordinate2,coordinate3,geometry
0,1,7,2012,2012-07-01,1,AVENUE OF THE AMERICAS,LAIGHT STREET,CANAL STREET,None,592,...,0,0,0,0.0,0.0,0.0,POINT,982769.331,202206.1619,POINT (982769.3310000002 202206.1618999988)
1,1,8,2012,2012-08-01,1,AVENUE OF THE AMERICAS,LAIGHT STREET,CANAL STREET,None,592,...,0,0,0,0.0,0.0,0.0,POINT,982769.331,202206.1619,POINT (982769.3310000002 202206.1618999988)

In [27]:
df1 = gpd.GeoDataFrame(df, geometry='geometry')
df1.head(2)

,intersection_id,month,year,monthly,index,ST1_Name,ST2_Name,ST3_Name,ST4_Name,distance_to_LPIS,...,day_cyclistkilled,day_motoristinjured,day_motoristkilled,flag_collision,latenight_flag_collision,day_flag_collision,coordinate1,coordinate2,coordinate3,geometry
0,1,7,2012,2012-07-01,1,AVENUE OF THE AMERICAS,LAIGHT STREET,CANAL STREET,None,592,...,0,0,0,0.0,0.0,0.0,POINT,982769.331,202206.1619,POINT (982769.3310000002 202206.1618999988)
1,1,8,2012,2012-08-01,1,AVENUE OF THE AMERICAS,LAIGHT STREET,CANAL STREET,None,592,...,0,0,0,0.0,0.0,0.0,POINT,982769.331,202206.1619,POINT (982769.3310000002 202206.1618999988)

In [28]:
df1.crs = {'init' :'epsg:2263'}

In [29]:
df1.crs

{'init': 'epsg:2263'}

## Saving the analytical panel dataset as a shapefile
The shapefile is needed to calculate the contiguity matrix in stata

In [30]:
fp =  r"Box Sync\Policy Evaluation\working_data\analytical_panel_shapefile\analytical_panel_shapefile_2263.shp"
df1.to_file(fp,driver ='ESRI Shapefile')

TypeError: data type not understood